{
  "extends": [ "axway/env-titanium", "axway/env-node" ],
  "env": {
    "node": true,
    "jasmine": true
  },
  "parserOptions": {
    "ecmaVersion": 2015,
    "sourceType": "script"
  },
  "overrides": [
    {
      "files": [ "dangerfile.js" ],
      "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
      }
    }
  ]
}