tmp
bin
build
*.zip
.DS_Store
.project

node_modules/
TESTS-*.xml

android/libs
android/build.properties
android/dist
/android/java-sources.txt

/ios/metadata.json
ios/titanium-identity.xcodeproj/project.xcworkspace/*
ios/titanium-identity.xcodeproj/xcuserdata/