name: iOS Build
on:
  push:
    paths-ignore:
    - 'android/**'
    - 'apidoc/**'
  pull_request:
    paths-ignore:
    - 'android/**'
    - 'apidoc/**'
  workflow_dispatch:

jobs:
  ios:
    runs-on: macos-latest
    name: iOS
    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'

    - name: Cache Node.js modules
      id: node-cache
      uses: actions/cache@v4
      with:
        path: node_modules
        key: ${{ runner.OS }}-node-modules-${{ hashFiles('package-lock.json') }}
        restore-keys: |
          ${{ runner.OS }}-node-modules-
          ${{ runner.OS }}-

    - run: npm ci
      name: Install dependencies
      if: steps.node-cache.outputs.cache-hit != 'true'

    - run: npm run lint:ios
      name: Lint

    - run: npm i -g titanium
      name: Install Titanium CLI

# TODO cache SDK install

    - run: ti sdk install 12.5.1.GA --force
      name: Install Ti SDK

    - run: sed -i .bak 's/TITANIUM_SDK_VERSION = .*/TITANIUM_SDK_VERSION = 12.5.1.GA/' ios/titanium.xcconfig
      name: Set to Build with 12.5.1.GA SDK

    # - run: npm run test:ios -- --sdkVersion 12.5.1.GA
    #   name: Build and Test

    - name: Archive iOS artifact
      uses: actions/upload-artifact@v4
      with:
        name: ti.identity-ios
        path: |
          ios/dist/ti.identity-iphone-*.zip
